# Python Pandas Breakouts

### 1. Import the necessary packages in the code block below
    - pandas 
    - numpy

In [ ]:
# your code goes here

### 2. Working with Series

In [ ]:
#- use the pandas Series class to convert these lists into pandas series objects (Pandas.Series)

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]


# your code goes here

In [ ]:
# using the index value print out California from the state Series, print the corresponding index from population series, and finally  print the corresponding index from the ev reg series

# your code goes here

### How to Combine Two Series into a Pandas DataFrame
- Can combine/merge two or more series by using:
    - `.concat()`: Combines 2+ series
    - `Pandas.merge()`: Combines combinations of dataframes, similar to SQL joins
    - `dataFrame.join()`: Joins two series

In [ ]:
#1 Create 3 pandas series' as you have done above with the following lists 

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]

# your code goes here

In [ ]:
#Combine 2 series using .concat() and store this in a variable called `two_series`
#print `two_series`

#your code goes here

In [ ]:
#combine all three series using .concat()
# print the result 

#your code goes here

In [ ]:
# re-create the Series objects form above but with column names refer to 5.2 curriculum or pandas.Series documentation for help 
# join all three series using .concat()
 
state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]
evreg = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]


#your code goes here

In [ ]:
#run this code block but do not change this code
index_list = []

for i in range(1,11):
    index_list.append('r'+str(i))

In [ ]:
# use the index list created above to change the index on the three Series objects you have created. 
# use the curriculum or pandas documentation for assisstance
# 
# 
# your code goes here

In [ ]:
# insert the 3 pandas Series objects into a dictionary with the column name being the key and the Series object being the value 
# use .concat() to covert the three series objects to a dataframe 
# there is some helper skeleton code to aid you while inserting the Series into the dictionary
dict = {}

 
# your code goes here

dict[_______] = _________
dict[_______] = _________
dict[_______] = _________

In [ ]:
# use df method .reset_index() to drop the current index 
# use curriculum or documentation for assistance

# your code goes here

# 3. Working with pandas.merge()

#### Combine Two Series using `pandas.merge()`
- `.merge()` - Merges complex dataframes, through columns, similar to SQL-like joins 
    - Can be used for joining dataframes and/or series 
    - Must pass the extra parameter "name" to the series
    - **Syntax Example**: `pd.merge(S1, S2, right_index=True, left_index=True)`.

In [ ]:
# given the two lists, convert them to Series objects, give them column names using the name parameter
# then use pd.merge() to join the two lists

states = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
evregs = [4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]

#your code goes here

#### 4.) Combine Two Series Using `DataFrame.join()`
- `DataFrame.join()` - Joins 2 Series
- In order to use, MUST have a DataFrame object

In [ ]:
# given the two lists
# convert the lists to series objects
# use DataFrame.join() to join the two series objects

state = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida']
population = [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792]


#your code goes here

# Working with DataFrames

 1. inserting data into dataframes and locating specific rows of data within our dataframes

In [ ]:
# use the follow dictionary for the upcoming questions

dict = {
'state': ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida'],
'population' : [4817678, 728300, 6561516, 2947036, 38066920, 5197580, 3592053, 917060, 633736, 19361792],
'evreg' :[4750, 1290, 40740, 2390, 563070, 37000, 13350, 3010, 3700, 95640]
}

In [ ]:
# convert the dictionary to a dataframe 

#your code goes here

In [ ]:
# find the location of specific rows in the dataframe from the above code block using the index position (HINT:refer to previous cell output for index position)
# print out arkansas using .loc and the index position 
# print both Delaware and California using .loc and their index position. 


# your code goes here

In [ ]:
# run the following code without making changes
index_labels = []

for i in range(0,len(states_pop_ev['state'])):
    index_labels.append('r' + str(i+1))

In [ ]:
# use the index_labels list created in the cell above to make a new df using dict but make sure to set index to our new list of indexs
# print out new dataframe

# your code goes here

In [ ]:
# locate  and print out florida using the new index of r10 and .loc

# your code goes here

2. inserting data from nested list and  changing the order of the data frame

In [ ]:
# create a new dataframe with state_info nested list and the list of columns

state_info = [
['Florida', 19361792, 71.8, 2, 95640], 
['Georgia', 9907756, 62.3, 8, 34020], 
['Hawaii', 1392704, 72.95, 1, 14220], 
['Idaho', 1599464, 46.32, 40, 3500], 
['Illinois', 12868747, 51.37, 27, 36520],
['Indiana', 6542411, 51.81, 26, 10360], 
['Iowa', 3078116, 48.14, 38, 3660], 
['Kansas', 2882946, np.NaN, 20, 4500], 
['Kentucky', 4383272, 55.62, 16, 4220], 
['Louisiana', 4601049, 66.74, 3, 3180], 
['Maine', 1328535, 43.09, 48, 3040]
]

columns = ['State', 'Population', 'Avg_TEMP_F', 'Rank', 'EV_Registrations']



# your code goes here

In [ ]:
# use sort values to sort the data frame by State 

# your code goes here

In [ ]:
# use sort values to sort the data by population in descending order

# your code goes here