In [ ]:
import pandas as pd

df = pd.read_excel("/Users/jeremycarter/Code/SavvyCoders/activities/ClassProject/EVRegistrations.xlsx")
df

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State                  52 non-null     object
 1   EV Registration Count  52 non-null     int64
 2   TotalRegCount          52 non-null     float64
 3   StatePopulations       52 non-null     int64
 4   EVRegPer1000residents  52 non-null     float64
 5   EVRegPercTotalReg      52 non-null     float64
 6   EVper1000TotalReg      52 non-null     float64
 7   Unnamed: 7             0 non-null      float64
 8   Unnamed: 8             0 non-null      float64
 9   Unnamed: 9             0 non-null      float64
 10  Unnamed: 10            0 non-null      float64
 11  Unnamed: 11            8 non-null      object
dtypes: float64(8), int64(2), object(2)
memory usage: 5.0+ KB

Does the number of rows and columns equal what we expect it to?
- Are the data types of our values what we expect?
- Do we have nulls in our data? How do you know?
- What are some useful manipulations we could make to this DataFrame to answer our essential questions? How might we do that?

In [1]:
import pandas as pd
import requests
url = "http://www.usa.com/rank/us--average-temperature--state-rank.htm"
r = requests.get(url)
df_list = pd.read_html(r.text, header=0) # this parses all the tables in webpages to a list
print(df_list)

[    Rank Average Temperature ▼              State / Population
0    1.0               72.95°F              Hawaii / 1,392,704
1    2.0               71.80°F            Florida / 19,361,792
2    3.0               66.74°F           Louisiana / 4,601,049
3    4.0               65.97°F             Arizona / 6,561,516
4    5.0               65.97°F              Texas / 26,092,033
5    6.0               63.50°F         Mississippi / 2,984,345
6    7.0               62.68°F             Alabama / 4,817,678
7    8.0               62.30°F             Georgia / 9,907,756
8    9.0               61.70°F      South Carolina / 4,727,273
9   10.0               61.17°F         California / 38,066,920
10  11.0               60.14°F            Oklahoma / 3,818,851
11  12.0               60.09°F            Arkansas / 2,947,036
12  13.0               58.70°F      North Carolina / 9,750,405
13  14.0               58.11°F           Tennessee / 6,451,365
14  15.0               57.30°F              Nevada / 2,761,584
15  16.0               55.62°F            Kentucky / 4,383,272
16  17.0               55.54°F            Virginia / 8,185,131
17  18.0               54.73°F  District of Columbia / 633,736
18  19.0               54.70°F            Missouri / 6,028,076
19  20.0               54.68°F              Kansas / 2,882,946
20  21.0               54.61°F            Maryland / 5,887,776
21  22.0               54.48°F              Delaware / 917,060
22  23.0               53.08°F       West Virginia / 1,853,881
23  24.0               53.07°F          New Mexico / 2,080,085
24  25.0               51.93°F          New Jersey / 8,874,374
25  26.0               51.81°F             Indiana / 6,542,411
26  27.0               51.37°F           Illinois / 12,868,747
27  28.0               51.27°F              Oregon / 3,900,343
28  29.0               50.88°F               Ohio / 11,560,380
29  30.0               50.47°F          Washington / 6,899,123
30  31.0               49.88°F            Nebraska / 1,855,617
31  32.0               49.80°F       Pennsylvania / 12,758,729
32  33.0               49.55°F                Utah / 2,858,111
33  34.0               49.27°F        Rhode Island / 1,053,252
34  35.0               48.60°F         Connecticut / 3,592,053
35  36.0               48.17°F           New York / 19,594,330
36  37.0               48.14°F       Massachusetts / 6,657,291
37  38.0               48.14°F                Iowa / 3,078,116
38  39.0               46.64°F            Michigan / 9,889,024
39  40.0               46.32°F               Idaho / 1,599,464
40  41.0               46.26°F            Colorado / 5,197,580
41  42.0               45.54°F          South Dakota / 834,708
42  43.0               44.71°F           Wisconsin / 5,724,692
43  44.0               44.49°F       New Hampshire / 1,321,069
44  45.0               44.18°F             Montana / 1,006,370
45  46.0               43.74°F               Vermont / 626,358
46  47.0               43.47°F               Wyoming / 575,251
47  48.0               43.09°F               Maine / 1,328,535
48  49.0               42.98°F           Minnesota / 5,383,661
49  50.0               40.80°F          North Dakota / 704,925
50  51.0               32.03°F                Alaska / 728,300]

In [6]:
import pandas as pd
import numpy as np 

gas_prices = pd.read_csv("gas_price_by_state.csv")
h08 = pd.read_csv("h08.csv")
incentivebystate = pd.read_csv("EVincentivesbyState.csv")
evreg = pd.read_csv("EVRegMerged.csv")

In [42]:
df_gas_prices = pd.DataFrame(gas_prices)

df_gas_prices.drop('Unnamed: 0', axis = 1, inplace =True)

df_gas_prices.reset_index(drop=True, inplace=True)

df_gas_prices.rename(columns = {'Unnamed: 0': 'State Index'}, inplace= True)

df_gas_prices['State Index'] = range(1, 52)

df_gas_prices

df_gas_prices.to_csv('cleaned_gas_prices.csv')

In [55]:
df_incentivebystate = pd.DataFrame(incentivebystate)

df_incentivebystate.reset_index(drop=True, inplace= True)

df_incentivebystate.insert(0, 'State Index', range(1, len(df_incentivebystate)+1))

df_incentivebystate.to_csv('cleaned_incentive_by_state.csv')

In [63]:
df_evreg = pd.DataFrame(evreg)

df_evreg.drop('Unnamed: 0', axis = 1, inplace=True)

df_evreg.reset_index(drop=True, inplace= True)

df_evreg.insert(0, 'State Index', range(1, len(df_evreg)+1))

df_evreg

df_evreg.to_csv('cleaned_incentive_by_state.csv')

In [1]:
import pandas as pd
import sqlite3 

df2019= pd.read_csv('/Users/jeremycarter/Code/SavvyCoders/capstone/2019 Summary Data.csv')

df2019

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2